</main>
<!-- Footer section -->
<footer class="footer-solid">
    <!-- Text displayed in the footer -->
    <p class="work-sans-regular" style="margin-bottom: auto;">
        <i>© Made for CSE115a: Intro to Software Engineering, Spring 2024</i>
    </p>
</footer>

</body>
</html>