</main>
<style>
    body {
      padding-left: 0;
    }
  </style>
<footer class="footer-solid">
  <p class="work-sans-regular"><i>© Made for CSE115a: Intro to Software Engineering, Spring 2024</i></p>
</footer>

</body>

</html>