<!-- Header to be displayed when user is on landing page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlugManager</title>
  
    <!-- Embed Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans&display=swap" rel="stylesheet">
  
    <!-- Add CSS styles -->
    <link rel="stylesheet" href="/css/landingPage.css">
    <link rel="stylesheet" href="/css/homePage.css">
</head>
  
<body>
    <!-- Nav bar -->
    <nav>
        <div>
            <div>
                <!-- Logo -->
                <img src="slug-removebg-preview.png" alt="Logo" style="height: 4.5rem; width: auto;">
                <!-- Project Name -->
                <span class="company-name">SlugManager</span>
            </div>
            <!-- Login/Register link -->
            <div><a class="nav-link" href="/login">Login/Register</a></div>
        </div>
    </nav>

    <!-- Main container for page content -->
    <main class="container">