/* Note to self (Mia 5/10): convert px to rem, create type scale and assign h1, h2, etc. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(#fff49b, #89CFF0); /* Note to self (Mia 5/10): change to white when on landing page */ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

footer {
    background-color: white;
    margin-top: auto; /* push to the bottom */
    width: 100%; /* make the footer full width */
    padding: 20px 0;
    text-align: center;
}

.logo {
    color: #7AA2E3;
    transition: color 0.3s; /* add transition effect for smooth color change */
}

.logo:hover{
    color: yellow;
}

.container {
    margin-top: 70px;
}

.center-content {
    text-align: center;
    margin-top: 20px;
}

/* ---------------- NAV ---------------- */
.navbar {
    display: flex;
    list-style-type: none; /* remove bullet points */
}

.nav-links {
    display: flex; /* make links horizontal */
}

.nav-links li {
    margin-right: 15px;
    list-style-type: none; /* remove bullet points */
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: white;
}

.dropbtn {
    color: black;
    text-decoration: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1000;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
}
  
/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* ---------------- GALLERY ---------------- */
.gallery-container {
    margin: 0 200px;
    margin-bottom: 50px;
}

.project-gallery-container {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.project-gallery {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.project-gallery a {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 10px;
}

.project {
    flex: 0 0 auto;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    scroll-snap-align: start;
}

.project:hover {
    border: 1px solid black;
}

.prev-btn-container,
.next-btn-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.prev-btn-container {
    left: 0;
}

.next-btn-container {
    right: 0;
}

.prev-btn,
.next-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
    outline: none;
}

/* scrollbar--not on display */
.project-gallery::-webkit-scrollbar {
    display: none;
}


/* ---------------- ADD USER FORM ---------------- */
.add-user-form-container {
    width: 400px;
    margin: 0 auto;
}

.add-user-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.add-user-form h2 {
    margin-bottom: 10px;
}

.add-user-form label {
    display: block;
    margin-bottom: 5px;
}

.add-user-form input[type="name"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-user-form button {
    background-color: #7AA2E3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-user-form button:hover {
    background-color: yellow;
}


/* ---------------- BUTTONS ---------------- */
.button-box {
    background-color: #7AA2E3;
    display: inline-block;
    padding: 10px 20px; /* adjust padding as needed */
    border: 2px solid #7AA2E3;
    border-radius: 5px; /* rounded corners */
}

.button-box a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.button-box a:hover {
    color: yellow;
}

/* ---------------- FONTS ---------------- */
/* Google Fonts https://fonts.google.com/ */

/* poppins */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
  
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}
  
.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
  
.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}
  
.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* work sans */
.work-sans-regular {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.work-sans-bold {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}