/* Override the background property for the header on the landing page */
header {
  background: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#fff49b, #89CFF0); /* Soft yellow background */
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    height: auto; /* Full height of the viewport */
}
  
  .landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .title-section {
    text-align: center;
  }
  
  .title {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 48px; /* Huge title */
    color: #3f72af; /* Baby blue title color */
  }
  
  .description {
    left: 0;
    line-height: 200px;
    margin-top: -50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #3f72af;
  }
  
/*
  .slug_img {
    width: 30px; Adjust the size as needed 
    height: auto;
    margin-left: 5px; Adjust spacing between icon and text 
  }*/