* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F6E3;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* padding-top: 50px; */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

footer {
    margin-top: auto; /* push to the bottom */
    text-align: center;
    padding: 20px 0;
    /* background-color: #7AA2E3; */
    width: 100%; /* make the footer full width */
}

.logo {
    color: #7AA2E3;
    transition: color 0.3s; /* add transition effect for smooth color change */
}

.logo:hover{
    color: yellow;
}

.container {
    margin-top: 70px;
}

.center-content {
    text-align: center;
    margin-top: 20px;
}

/* ---------------- NAV ---------------- */
.navbar {
    display: flex;
    list-style-type: none; /* remove bullet points */
}

.nav-links {
    display: flex; /* make links horizontal */
}

.nav-links li {
    margin-right: 15px;
    list-style-type: none; /* remove bullet points */
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s; /* add transition effect for smooth color change */
}

.nav-links a:hover {
    color: #6AD4DD; /* change color when hovered over */
}

/* ---------------- BUTTONS ---------------- */
.button-box {
    display: inline-block;
    padding: 10px 20px; /* adjust padding as needed */
    border: 2px solid #7AA2E3;
    border-radius: 5px; /* rounded corners */
    background-color: #7AA2E3;
}

.button-box a {
    text-decoration: none;
    color: white; /* text color */
}

/* ---------------- REG FORM ---------------- */
.form-container /* same as button tbh */ {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #7AA2E3;
    border-radius: 5px;
    background-color: #7AA2E3;
}

#registrationForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* align form items to the left */
}

#registrationForm label {
    margin-right: 10px;
    color: white;
}

#registrationForm input,
#registrationForm button {
    margin-top: 10px;
}

/* ---------------- FONTS ---------------- */
/* poppins fonts */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
  
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}
  
.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
  
.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}
  
.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* work sans */
.work-sans-regular {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.work-sans-bold {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}