<%- include("./partials/header.ejs") %>
<h2 class="work-sans-bold">Homepage</h2>
<div class="center-content">
    <p class="work-sans-regular">Welcome to the homepage.</p>
    <div class="button-box">
        <a href="/register" class="work-sans-regular">Register</a>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
