<!-- LoginAndReg.ejs -->
<%- include("./partials/loginPageHeader.ejs") %>


<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- embed Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans&display=swap" rel="stylesheet">

   <title>SlugManager</title>
   <link rel="stylesheet" href="css/styles.css">
</head>
<body>
   <!-- Your HTML content goes here -->
   <br>
   <br>
   <div class="cont">
       <div class="form sign-in">
           <h2 class="poppins-medium">Welcome back.</h2>
           <form id="loginForm" action="/login" method="POST">
               <label>
                   <span>Username</span>
                   <input type="username" id="username" name="username" required />
               </label>
               <label>
                   <span>Password</span>
                   <input type="password" id="password" name="password" required />
               </label>
               <button type="submit" class="submit">Sign In</button>
           </form>
       </div>
       <div class="sub-cont">
           <div class="img">
               <div class="img__text m--up">
                   <h3 class="poppins-bold">Not an existing user? Please sign up!</h3>
               </div>
               <div class="img__text m--in">
                   <h3 class="poppins-bold">Existing users, sign in here.</h3>
               </div>
               <div class="img__btn">
                   <span class="m--up">Sign Up</span>
                   <span class="m--in">Sign In</span>
               </div>
           </div>
           <div class="form sign-up">
               <h2 class="poppins-medium">Nice to meet you.</h2>
               <form id="registrationForm" action="/register" method="POST">
                   <label>
                       <span>Username</span>
                       <input type="username" id="username" name="username" required />
                   </label>
                   <label>
                       <span>Password</span>
                       <input type="password" id="password" name="password" required />
                   </label>
                   <button type="submit" class="submit">Sign Up</button>
               </form>
           </div>
       </div>
   </div>


   <%- include("./partials/footer.ejs") %>



   <script>
       document.querySelector('.img__btn').addEventListener('click', function() {
           document.querySelector('.cont').classList.toggle('s--signup');
       });
   </script>
</body>
</html>
