<%- include("./partials/header.ejs") %>
    <h1>SlugManager Login</h1>
    <p>Please fill the form below to login</p>
    <form id="loginForm" action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
<%- include("./partials/footer.ejs")  %>