<!-- LoginAndReg.ejs -->


<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>SlugManager</title>
   <link rel="stylesheet" href="css/styles.css">
</head>
<body>
   <!-- Your HTML content goes here -->
   <br>
   <br>
   <div class="cont">
       <div class="form sign-in">
           <h2>Welcome to Slug Manager</h2>
           <form id="loginForm" action="/login" method="POST">
               <label>
                   <span>Username</span>
                   <input type="username" id="username" name="username" required />
               </label>
               <label>
                   <span>Password</span>
                   <input type="password" id="password" name="password" required />
               </label>
               <button type="submit" class="submit">Sign In</button>
           </form>
       </div>
       <div class="sub-cont">
           <div class="img">
               <div class="img__text m--up">
                   <h3>Not an existing User? Please Sign up!</h3>
               </div>
               <div class="img__text m--in">
                   <h3>Existing User, simply sign in.</h3>
               </div>
               <div class="img__btn">
                   <span class="m--up">Sign Up</span>
                   <span class="m--in">Sign In</span>
               </div>
           </div>
           <div class="form sign-up">
               <h2>Create A New Account</h2>
               <form id="registrationForm" action="/register" method="POST">
                   <label>
                       <span>Username</span>
                       <input type="username" id="username" name="username" required />
                   </label>
                   <label>
                       <span>Password</span>
                       <input type="password" id="password" name="password" required />
                   </label>
                   <button type="submit" class="submit">Sign Up</button>
               </form>
           </div>
       </div>
   </div>


   <!-- Footer -->
   <footer>
       <div class="footer-container">
           <p>© Made for CSE115a: Intro to Software Engineering, Spring 2024</p>
       </div>
   </footer>


   <script>
       document.querySelector('.img__btn').addEventListener('click', function() {
           document.querySelector('.cont').classList.toggle('s--signup');
       });
   </script>
</body>
</html>
