<%- include("./partials/mainPageHeader.ejs") %>
<div class="center-content">
    <h1 class="poppins-medium">Create a new project.</h1>
    <div class="add-user-form-container">
        <div class="add-user-form">
        <form action="/newProject" method="post">
            <label class="work-sans-regular" for="projectName">Project Name:</label>
            <input type="name" id="projectName" name="projectName" required>
            <label class="work-sans-regular" for="projectName">Description:</label>
            <input type="text" id="description" name="description" required>
            <button type="submit">Create Project</button>
        </form>
        </div>
    </div>
</div>      
<%- include("./partials/footer.ejs")  %>