<%- include("./partials/projectPageHeader.ejs") %>
<div class="project-list">
    <% projects.forEach(project => { %>
        <div class="project">
            <% if(projectName == project.name){ %>
                <h1 class="project-name"><%= project.name %></h1>
                <% if(user == project.administrator) { %>
                    <h2>Add a User</h2>
                    <form method="POST" action="/projects/<%= project.name %>">
                        <label class="work-sans-regular" for="userName">User Name:</label>
                        <input type="text" id="userName" name="username" required>
                        <button type="submit">Add User</button>
                    </form>
                <% } %>
            <% } %>
        </div>
    <% }); %>
    
</div>
<%- include("./partials/footer.ejs") %>
