<%- include("./partials/header.ejs") %>
    <h1>SlugManager Registration</h1>
    <p>Please fill the form below</p>
    <form id="registrationForm" action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="username" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <br>
        <button type="submit">Register</button>
    </form>
</body>
<%- include("./partials/footer.ejs")  %>